<p-card>
  <!--REPORTES-->
  <div class="flex grid">

    <!-- Sidebar - 20% en desktop, 100% en móvil -->
    <div class="col-12 md:col-12 lg:col-2 bg-gray-100" >
      <div class="grid flex">
        <div class="col-12">
          <!-- Titulo -->
          <moduleBoxTitle [title]="'REPORTES'"></moduleBoxTitle>
        </div>
        <div class="col-12">
          <!-- Botones -->
          <!--<moduleBoxLinks [title]="'REPORTES'"></moduleBoxLinks>-->
        </div>
        <div class="col-12">
          <moduleBoxButton></moduleBoxButton>
        </div>
        <div class="col-12">
          <!-- Crear Nuevo -->
          <!--<div class="flex flex-column align-items-center" style="gap: 8px;">
            &lt;!&ndash; Botón circular grande con ícono "+" &ndash;&gt;
            <button
              pButton
              type="button"
              icon="pi pi-plus"
              class="p-button-rounded p-button-lg custom-circle-button"
            ></button>

            &lt;!&ndash; Label descriptivo &ndash;&gt;
            <span class="text-lg font-medium">Generar cliente</span>
          </div>-->

        </div>
      </div>
    </div>
    <!-- Main - 80% en desktop "maria click nueva venta" (espacio restante), 100% en móvil -->
    <div class="col-12 md:col-12 lg:col-10 pt-0 pb-0" >
      <div class="w-full panel-menu  p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
        <menuTop></menuTop>
      </div>
      <div class="panel-filtro  p-2 sm:p-3 md:p-4 hidden" style="box-sizing: border-box;">
        <div class="grid">
          <div class="col-12 md:col-12 lg:col-4">

            <span class="p-input-icon-left w-full" [formGroup]="reporteForm">
              <i class="pi pi-search"></i>
              <p-dropdown
                id="busqueda_mascota"
                [options]="selected_mascota"
                class="busqueda"
                optionLabel="label"
                placeholder="Buscar PET(Nombre Mascota)"
                [style]="{'width':'100%'}"
                [filter]="true"
                filterBy="label"
                [virtualScroll]="true"
                [virtualScrollItemSize]="34"
                [scrollHeight]="'300px'"
                [showClear]="true"
                (onChange)="onAddTGrid($event)"
              >
              </p-dropdown>
            </span>
          </div>
          <div class="col-12 md:col-6 lg:col-4 hidden"  [formGroup]="reporteForm">
            <p-dropdown
              id="mixto_id"
              optionLabel="label"
              optionValue="value"
              placeholder="Ventas,Productos,Precios"
              [style]="{'width':'100%'}"
            >
            </p-dropdown>
          </div>


          <div class="col-6 md:col-6 lg:col-2" [formGroup]="reporteForm">
            <p-calendar
              placeholder="Inicio"
              formControlName="fechaInicio"
              dateFormat="dd/mm/yy"
              [showIcon]="true"
              (onSelect)="filtarFecha($event,1)"
            >
            </p-calendar>
          </div>
          <div class="col-6 md:col-6 lg:col-2" [formGroup]="reporteForm">
            <p-calendar
              placeholder="Fin"
              formControlName="fechaFin"
              dateFormat="dd/mm/yy"
              [showIcon]="true"
              (onSelect)="filtarFecha($event,2)"
            >
            </p-calendar>
          </div>
        </div>
      </div>
      <div class="panel-card-reporte p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
        <div class="grid">
          <div class="col-12 md:col-6 lg:col-3 card-info">
            <p-panel [header]="cifraProductoInventario" class="bg-blue-500">
              <p class="m-0">
                Productos en Inventario
              </p>
            </p-panel>
          </div>
          <div class="col-12 md:col-6 lg:col-3 card-info">
            <p-panel [header]="cifraPrecioInventario" class="bg-purple-500">
              <p class="m-0">
                Precio del Inventario
              </p>
            </p-panel>
          </div>
          <div class="col-12 md:col-6 lg:col-3 card-info">
            <p-panel [header]="cifraCostoInventario" class="bg-yellow-500">
              <p class="m-0">
                Costo del Inventario
              </p>
            </p-panel>
          </div>
          <div class="col-12 md:col-6 lg:col-3 card-info">
            <p-panel [header]="cifraUtilidadTotal" class="bg-green-500">
              <p class="m-0">
                Utilidad total
              </p>
            </p-panel>
          </div>
        </div>
      </div>


      <div class="w-full panel-data grid reporte">
        <!--grid-->
        <div class="ol-12 md:col-3 lg:col-3 info-chart-bart d-flex flex-column justify-content-end">
          <div *ngFor="let item of productosMasVendidos | slice:0:6; let i = index">
            <p-panel header="Productos más vendidos">
              <p class="m-0">
                {{ item.nombre }}  <strong>{{ item.cantidad }} Unid</strong>
              </p>
            </p-panel>
          </div>



        </div>
        <div class="col-12 md:col-9 lg:col-9">
          <p-chart type="bar" [data]="data" [options]="options" class="h-[30rem]" />
        </div>

        <!--grid-->
      </div>

    </div>

  </div>

</p-card>
