<ul class="list-none p-0 m-0">
  <!-- Ícono estrella + "Generar venta" -->
  <li class="mb-2">
    <a href="{{grupoLink[0].link}}" class="no-underline flex align-items-center text-700 hover:text-primary ">
      <i class="pi pi-star mr-2"></i>
      <span>{{grupoLink[0].texto}}</span>
    </a>
  </li>

  <!-- Ícono corazón + "Stock producto" -->
  <li class="mb-2">
    <a href="{{grupoLink[1].link}}" class="no-underline flex align-items-center text-700 hover:text-primary ">
      <i class="pi pi-heart mr-2"></i>
      <span>{{grupoLink[1].texto}}</span>
    </a>
  </li>

  <!-- Ícono círculo + "Mirame" -->
  <li class="mb-2">
    <a href="{{grupoLink[2].link}}" class="no-underline flex align-items-center text-700 hover:text-primary">
      <i class="pi pi-circle mr-2"></i>
     <span>{{grupoLink[2].texto}}</span>
    </a>
  </li>
</ul>
