<p-card>
  <!--PRODUCTO-->
  <div class="flex grid">

    <!-- Sidebar - 20% en desktop, 100% en móvil -->
    <div class="col-12 md:col-12 lg:col-2 bg-gray-100" >

      <div class="grid flex">
        <div class="col-12">
          <!-- Titulo -->
          <moduleBoxTitle [title]="'PRODUCTOS'"></moduleBoxTitle>
        </div>
        <div class="col-12">
          <!-- Botones -->
          <moduleBoxLinks [title]="'PRODUCTOS'"></moduleBoxLinks>
        </div>
        <div class="col-12">
          <!-- Crear Nuevo -->
          <div class="flex flex-column align-items-center" style="gap: 8px;">
            <!-- Botón circular grande con ícono "+" -->
            <button
              pButton
              type="button"
              icon="pi pi-plus"
              class="p-button-rounded p-button-lg custom-circle-button"
              (click)="openModal('Nuevo')"
            ></button>

            <!-- Label descriptivo -->
            <span class="text-lg font-medium" (click)="openModal('Nuevo')" style="cursor: pointer;">Generar producto</span>

          </div>
        </div>
      </div>

    </div>
    <!-- Main - 80% en desktop "maria click nueva venta" (espacio restante), 100% en móvil -->
    <div class="col-12 md:col-12 lg:col-10 pt-0 pb-0" >
      <div class="w-full panel-menu  p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
        <menuTop></menuTop>
      </div>

      <div class="panel-filtro  p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
        <div class="grid">
          <!-- Primera fila: Dropdowns principales -->
          <div class="col-12 md:col-6 lg:col-3 hidden ">
            <p-dropdown
              id="categoria_id"
              formControlName="categoria_id"
              optionLabel="label"
              optionValue="value"
              placeholder="Categoría"
              [style]="{'width':'100%'}"
            >
            </p-dropdown>
          </div>
          <div class="col-12 md:col-6 lg:col-3 hidden ">
            <p-dropdown
              id="mixto_id"
              formControlName="mixto_id"
              optionLabel="label"
              optionValue="value"
              placeholder="Ventas,Productos,Precios"
              [style]="{'width':'100%'}"
            >
            </p-dropdown>
          </div>
          <!--
          <div class="col-12 md:col-12 lg:col-4">
            <span class="p-input-icon-left w-full">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                placeholder="Buscar Producto"
                class="w-full busqueda"
                [(ngModel)]="globalFilter"
                (ngModelChange)="applyGlobalFilter()">
            </span>
          </div>-->
          <div class="col-12 md:col-12 lg:col-4">

            <span class="p-input-icon-left w-full">
              <i class="pi pi-search"></i>
              <p-dropdown
                id="busqueda_producto"
                [options]="selected_producto"
                class="busqueda"
                formControlName="busqueda_producto"
                optionLabel="label"
                placeholder="Buscar Producto"
                [style]="{'width':'100%'}"
                [filter]="true"
                filterBy="label"
                [virtualScroll]="true"
                [virtualScrollItemSize]="34"
                [scrollHeight]="'300px'"
                [showClear]="true"
                (onChange)="onAddProductoTGrid($event)"
              >
              </p-dropdown>
            </span>

          </div>
          <div class="col-6 md:col-6 lg:col-2 hidden ">
            <p-calendar
              placeholder="Inicio"
              formControlName="fechaInicio"
              dateFormat="dd/mm/yy"
              [showIcon]="true"

            >
            </p-calendar>
          </div>

          <div class="col-6 md:col-6 lg:col-2 hidden ">
            <p-calendar
              placeholder="Fin"
              formControlName="fechaFin"
              dateFormat="dd/mm/yy"
              [showIcon]="true"

            >
            </p-calendar>
          </div>

        </div>
      </div>



      <div class="w-full panel-data">
        <!--grid-->
        <div class="grid">
          <!-- ============================================= -->
          <!-- VERSIÓN MOBILE (iPhone) - 1 COLUMNA VERTICAL -->
          <!-- ============================================= -->
          <div class="col-12 md:col-6 lg:col-6">
            <!-- Registro 1 -->
            <div class="bg-gray-100 p-2 border-1 border-gray-200 border-round-md">
              <table class="w-full tabla-grid-ui">
                <thead>
                <tr class="border-bottom-1 surface-border">
                  <th class="text-left p-2 ">PRODUCTO </th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Nombre : </strong>{{productoGrid.nombre}}</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Categoría : </strong>{{productoGrid.categoria}}</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Tamaño : </strong>{{productoGrid.tamano}}</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Precio de Venta : </strong>{{productoGrid.precio}}</td>
                </tr>
                <tr class="border-bottom-1 surface-border">

                  <td class="p-2 pt-0 pb-0"><strong>Stock : </strong>{{productoGrid.stock}} <button pButton icon="pi pi-pencil" class="p-button-text p-button-sm p-button-warning btn-right" (click)="openModal('Editar', producto)"></button></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-6">
            <!-- Registro 1 -->
            <div class="bg-gray-100 p-2 border-1 border-gray-200 border-round-md">
              <div class="p-0 text-center border-round  font-bold">
                <p-image
                  src="./assets/images/web/dashboard.png"
                  alt="Dashboard"
                  width="100%"
                  height="148"
                />
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-6">
            <!-- Registro 1 -->
            <div class="bg-gray-100 p-2 border-1 border-gray-200 border-round-md">
              <table class="w-full tabla-grid-ui">
                <thead>
                <tr class="border-bottom-1 surface-border">
                  <th class="text-left p-2 ">STOCK</th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>{{productoGrid.categoria}} : </strong>CANT {{productoGrid.stock}} UNIDADES</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-6">
            <!-- Registro 1 -->
            <div class="bg-gray-100 p-2 border-1 border-gray-200 border-round-md">
              <table class="w-full tabla-grid-ui">
                <thead>
                <tr class="border-bottom-1 surface-border">
                  <th class="text-left p-2 ">FECHAS DE INGRESO DE INVENTARIO</th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>22/03/2025 --> </strong>200 UNIDADES</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>23/03/2025 --> </strong>100 UNIDADES</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>24/03/2025 --> </strong>90 UNIDADES</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- ========================================== -->
          <!-- VERSIÓN TABLET - 3 COLUMNAS EN HORIZONTAL -->
          <!-- ========================================== -->


          <!-- ========================================== -->
          <!-- VERSIÓN DESKTOP - TABLA HORIZONTAL COMPLETA -->
          <!-- ========================================== -->

        </div>
        <!--grid-->
      </div>
    </div>

  </div>
  <!-- Confirmation -->
  <p-confirmDialog></p-confirmDialog>
  <!-- Confirmation-->
  <!--Modal-->
  <p-dialog [(visible)]="modalVisible" [header]="modalTitle" [modal]="true" [closable]="true" [style]="{width: '500px'}">
    <form [formGroup]="productoForm" >
      <div class="p-fluid grid">
        <!-- Campo Nombre -->
        <div class="p-field col-12">
          <label for="nombreInput">Nombre</label>
          <input pInputText
                 id="nombreInput"
                 formControlName="nombre" />
        </div>

        <!-- Campo Tamaño -->
        <div class="p-field col-4">
          <label for="tamanoInput">Tamaño</label>
          <input pInputText
                 id="tamanoInput"
                 formControlName="tamano" />
        </div>

        <!-- Campo Precio Venta -->
        <div class="p-field  col-4">
          <label for="precio_ventaInput">Precio Venta</label>
          <input pInputText
                 id="precio_ventaInput"
                 formControlName="precio_venta" />
        </div>

        <!-- Campo Stock -->
        <div class="p-field col-4">
          <label for="stockInput">Stock</label>
          <input pInputText
                 id="stockInput"
                 formControlName="stock" />
        </div>

        <!-- Campo Descripción -->
        <div class="p-field col-12">
          <label for="descripcionInput">Descripción</label>
          <input pInputText
                 id="descripcionInput"
                 formControlName="descripcion" />
        </div>

        <!-- Campo ID (oculto) -->
        <input pInputText
               id="_idInput"
               formControlName="_id"
               [hidden]="true" />

        <!-- Dropdown Categoría Producto -->
        <div class="p-field col-6">
          <label for="categoria_producto_id">Categoría Producto</label>
          <p-dropdown
            id="categoria_producto_id"
            [options]="selected_categoria_producto"
            formControlName="categoria_producto_id"
            optionLabel="label"
            optionValue="value"
            (onChange)="onChangeCategoria_producto($event)"
            placeholder="Selecciona una categoría">
          </p-dropdown>
        </div>

        <!-- Dropdown Proveedor -->
        <div class="p-field col-6">
          <label for="proveedor_id">Proveedor</label>
          <p-dropdown
            id="proveedor_id"
            [options]="selected_proveedor"
            formControlName="proveedor_id"
            optionLabel="label"
            optionValue="value"
            (onChange)="onChangeProveedor($event)"
            placeholder="Selecciona un proveedor">
          </p-dropdown>
        </div>
      </div>
      <div class="p-dialog-footer">
        <button pButton type="button" label="Cancelar" class="p-button-text" (click)="modalVisible = false"></button>
        <button pButton type="button" label="Guardar" class="p-button-text" (click)="saveRegistro()"></button>
      </div>
    </form>
  </p-dialog>
  <!--Modal -->
  <!--PRODUCTO-->

<!--<ng-template pTemplate="title">Lista de Producto</ng-template>
  <ng-template pTemplate="content">
    <p-toast></p-toast>

    <div class="p-datatable-header">
      <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            placeholder="Búsqueda"
            class="p-inputtext p-component p-element w-full "
            [(ngModel)]="globalFilter"
            (ngModelChange)="applyGlobalFilter()">
        </span>

        <button pButton icon="pi pi-user-plus" label="Nuevo Producto"
                class="p-button-sm p-button-outlined" (click)="openModal('Nuevo')">
        </button>
      </div>
    </div>

    <p-table #table [value]="filteredProductos" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50, 100]"
             [globalFilterFields]="['nombre','categoria_producto_id','tamano','precio_venta','stock','descripcion','proveedor_id']" [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
          <th pSortableColumn="categoria_producto_id">Tipo de servicio <p-sortIcon field="categoria_producto_id"></p-sortIcon></th>
          <th pSortableColumn="tamano">Tamano <p-sortIcon field="tamano"></p-sortIcon></th>
          <th pSortableColumn="precio_venta">Precio_venta <p-sortIcon field="precio_venta"></p-sortIcon></th>
          <th pSortableColumn="stock">Stock <p-sortIcon field="stock"></p-sortIcon></th>
          <th pSortableColumn="descripcion">Descripcion <p-sortIcon field="descripcion"></p-sortIcon></th>
          <th pSortableColumn="proveedor_id">Proveedor_id <p-sortIcon field="proveedor_id"></p-sortIcon></th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-producto let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ producto.nombre

      }}</td>
          <td>{{ producto.categoria_producto_nombre

      }}</td>
          <td>{{ producto.tamano

      }}</td>
          <td>{{ producto.precio_venta

      }}</td>
          <td>{{ producto.stock

      }}</td>
          <td>{{ producto.descripcion

      }}</td>
          <td>{{ producto.proveedor_nombre

      }}</td>
          <td>
            <button pButton icon="pi pi-pencil" class="p-button-text p-button-sm p-button-warning" (click)="openModal('Editar', producto)"></button>
            <button pButton icon="pi pi-trash" class="p-button-text p-button-sm p-button-danger" (click)="confirmarEliminacion(producto)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </ng-template>-->
</p-card>
