<p-card>
  <!-- MASCOTA-->
  <div class="flex grid">

    <!-- Sidebar - 20% en desktop, 100% en móvil -->
    <div class="col-12 md:col-12 lg:col-2 bg-gray-100" >
      <div class="grid flex">
        <div class="col-12">
          <!-- Titulo -->
          <moduleBoxTitle [title]="'MASCOTAS'"></moduleBoxTitle>
        </div>
        <div class="col-12">
          <!-- Botones -->
          <moduleBoxLinks [title]="'CLIENTES'"></moduleBoxLinks>
        </div>
        <div class="col-12">
          <!--<moduleBoxButton></moduleBoxButton>-->
        </div>
        <div class="col-12">
          <!-- Crear Nuevo -->
          <div class="flex flex-column align-items-center" style="gap: 8px;">
            <!-- Botón circular grande con ícono "+" -->
            <button
              pButton
              type="button"
              icon="pi pi-plus"
              class="p-button-rounded p-button-lg custom-circle-button"
              (click)="openModal('Nuevo')"
            ></button>
            <!-- Label descriptivo -->
            <div type="button" class="text-lg font-medium"
                 (click)="openModal('Nuevo')" style="cursor:pointer;">Generar Mascota
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Main - 80% en desktop "maria click nueva venta" (espacio restante), 100% en móvil -->
    <div class="col-12 md:col-12 lg:col-10 pt-0 pb-0" >
      <div class="w-full panel-menu  p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
        <menuTop></menuTop>
      </div>

      <div class="panel-filtro  p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
        <div class="grid">
          <!-- Primera fila: Dropdowns principales -->
          <div class="col-12 md:col-6 lg:col-4">
               <span class="p-input-icon-left w-full">
                  <i class="pi pi-search"></i>
                  <p-dropdown
                    id="busqueda_mascota"
                    [options]="selected_mascota"
                    class="busqueda"
                    formControlName="busqueda_mascota"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="Buscar Mascota (Nombre Perrito)"
                    [style]="{'width':'100%'}"
                    [filter]="true"
                    filterBy="label"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="34"
                    [scrollHeight]="'300px'"
                    [showClear]="true"
                    (onChange)="buscarMascota($event)"
                  >
                  </p-dropdown>
              </span>
          </div>




        </div>
      </div>



      <div class="w-full panel-data">
        <!--grid-->
        <div class="grid">
          <!-- ============================================= -->
          <!-- VERSIÓN MOBILE (iPhone) - 1 COLUMNA VERTICAL -->
          <!-- ============================================= -->
          <div class="col-12 md:col-6 lg:col-6">
            <!-- Registro 1 -->
            <div class="bg-gray-100 p-2 border-1 border-gray-200 border-round-md">
              <table class="w-full tabla-grid-ui">
                <thead>
                <tr class="border-bottom-1 surface-border">
                  <th class="text-left p-2 ">DATOS PERSONALES</th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Nombre : </strong>{{mascotaDatosPersonales.nombre}}
                    <button pButton icon="pi pi-pencil" class="p-button-text p-button-sm p-button-warning" (click)="openModal('Editar', mascotaDatosPersonales)"></button>
                  </td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Nombre Dueño: </strong>{{mascotaDatosPersonales.cliente}}</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Teléfono : </strong>{{mascotaDatosPersonales.telefono}}</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Dirección : </strong>{{mascotaDatosPersonales.direccion}}</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Indicaciones Generales : </strong>{{mascotaDatosPersonales.indicaciones_generales}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-6">
            <!-- Registro 1 -->
            <div class="bg-gray-100 p-2 border-1 border-gray-200 border-round-md">
              <div class="p-0 text-center border-round  font-bold">
                <p-image
                  src="{{apiUrl+'..'+mascota_foto}}"
                  alt="Cliente"

                  height="148"
                />
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-6">
            <!-- Registro 1 -->
            <div class="bg-gray-100 p-2 border-1 border-gray-200 border-round-md">
              <table class="w-full tabla-grid-ui">
                <thead>
                <tr class="border-bottom-1 surface-border">
                  <th class="text-left p-2 ">VENTAS</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mascotaVentasProducto" class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0">
                    <strong>{{item.producto}}:</strong> CANT {{item.cantidad}} UNIDADES
                  </td>
                </tr>
                <tr *ngIf="mascotaVentasProducto.length === 0">
                  <td class="p-2 text-center">No hay ventas registradas</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-6">
            <!-- Registro 1 -->
            <div class="bg-gray-100 p-2 border-1 border-gray-200 border-round-md">
              <table class="w-full tabla-grid-ui">
                <thead>
                <tr class="border-bottom-1 surface-border">
                  <th class="text-left p-2 ">HISTORIA CLINICA</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of mascotaHistoriaClinica" class="border-bottom-1 surface-border">
                    <td class="p-2 pt-0 pb-0"><strong>{{item.fecha}} --> </strong>{{item.tratamiento}}</td>
                  </tr>
                  <tr *ngIf="mascotaHistoriaClinica.length === 0">
                    <td class="p-2 text-center">No hay historia clinicas registradas</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- ========================================== -->
          <!-- VERSIÓN TABLET - 3 COLUMNAS EN HORIZONTAL -->
          <!-- ========================================== -->


          <!-- ========================================== -->
          <!-- VERSIÓN DESKTOP - TABLA HORIZONTAL COMPLETA -->
          <!-- ========================================== -->

        </div>
        <!--grid-->
      </div>
    </div>
    <p-toast></p-toast>
    <!-- Confirmation -->
    <p-confirmDialog></p-confirmDialog>
    <!-- Confirmation -->
    <!-- Modal -->
    <p-dialog [(visible)]="modalVisible" [header]="modalTitle" [modal]="true" [closable]="true" [style]="{width: '500px'}">
      <form [formGroup]="mascotaForm" >
        <div class="p-fluid grid">
          <div class="p-field col-12">
            <label>Nombre</label>
            <input pInputText id="nombreInput" formControlName="nombre" />
          </div>
          <!-- Campo Foto -->
          <div class="p-field col-12">
            <label>Foto del Producto</label>

            <div class="flex flex-column gap-2">
              <!-- Input de PrimeNG para subir archivos -->
              <p-fileUpload
                mode="basic"
                name="file"
                chooseLabel="Seleccionar foto"
                accept="image/*"
                (onSelect)="onFileSelect($event)"
                [auto]="false"
                [showUploadButton]="false"
                [showCancelButton]="false"
              ></p-fileUpload>

              <!-- Previsualización de la imagen -->
              <div *ngIf="previewImage" class="mt-2">
                <p-image
                  [src]="previewImage"
                  alt="Previsualización"
                  width="150"
                  [preview]="true"
                  class="shadow-2 border-round"
                ></p-image>
              </div>

              <!-- Mostrar la URL de la imagen guardada -->
              <small *ngIf="mascota_foto" class="text-500">
                URL actual: {{ mascota_foto }}
              </small>
            </div>
          </div>
          <div class="p-field  col-4">
            <label>Fecha_nacimiento</label>
            <p-calendar formControlName="fecha_nacimiento" dateFormat="dd/mm/yy" [showIcon]="true">
            </p-calendar>
          </div>
          <div class="p-field   col-4">
            <label>Peso</label>
            <input pInputText id="pesoInput" formControlName="peso" />
          </div>
          <input pInputText id="_idInput" formControlName="_id" [hidden]="true"  />
          <div class="p-field   col-4">
            <label for="especie_id">Especie</label>
            <p-dropdown
              id="especie_id"
              [options]="selected_especie"
              formControlName="especie_id"
              optionLabel="label"
              optionValue="value"
              (onChange)="onChangeEspecie($event)"
              placeholder="Selecciona un especie">
            </p-dropdown>
          </div>
          <div class="p-field   col-4">
            <label for="raza_id">Raza</label>
            <p-dropdown
              id="raza_id"
              [options]="selected_raza"
              formControlName="raza_id"
              optionLabel="label"
              optionValue="value"
              (onChange)="onChangeRaza($event)"
              placeholder="Selecciona un raza">
            </p-dropdown>
          </div>
          <div class="p-field   col-4">
            <label for="sexo_id">Sexo</label>
            <p-dropdown
              id="sexo_id"
              [options]="selected_sexo"
              formControlName="sexo_id"
              optionLabel="label"
              optionValue="value"
              (onChange)="onChangeSexo($event)"
              placeholder="Selecciona un sexo">
            </p-dropdown>
          </div>
          <div class="p-field   col-4">
            <label for="cliente_id">Cliente</label>
            <p-dropdown
              id="cliente_id"
              [options]="selected_cliente"
              formControlName="cliente_id"
              optionLabel="label"
              optionValue="value"
              (onChange)="onChangeCliente($event)"
              placeholder="Selecciona un cliente">
            </p-dropdown>
          </div>
        </div>
        <div class="p-dialog-footer">
          <button pButton type="button" label="Cancelar" class="p-button-text" (click)="modalVisible = false"></button>
          <button pButton type="button" label="Guardar" class="p-button-text" (click)="saveRegistro()"></button>
        </div>
      </form>
    </p-dialog>
    <!-- Modal -->
  </div>
  <!--MASCOTA-->

  <!--<ng-template pTemplate="title">Lista de Mascota</ng-template>
  <ng-template pTemplate="content">


    <div class="p-datatable-header">
      <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            placeholder="Búsqueda"
            class="p-inputtext p-component p-element w-full"
            [(ngModel)]="globalFilter"
            (ngModelChange)="applyGlobalFilter()">
        </span>

        <button pButton icon="pi pi-user-plus" label="Nuevo Mascota"
                class="p-button-sm p-button-outlined" (click)="openModal('Nuevo')">
        </button>
      </div>
    </div>

    <p-table #table [value]="filteredMascotas" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50, 100]"
             [globalFilterFields]="['nombre','especie_id','raza_id','fecha_nacimiento','peso','sexo_id','cliente_id']" [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
          <th pSortableColumn="especie_id">Especie_id <p-sortIcon field="especie_id"></p-sortIcon></th>
          <th pSortableColumn="raza_id">Raza_id <p-sortIcon field="raza_id"></p-sortIcon></th>
          <th pSortableColumn="fecha_nacimiento">Fecha_nacimiento <p-sortIcon field="fecha_nacimiento"></p-sortIcon></th>
          <th pSortableColumn="peso">Peso <p-sortIcon field="peso"></p-sortIcon></th>
          <th pSortableColumn="sexo_id">Sexo_id <p-sortIcon field="sexo_id"></p-sortIcon></th>
          <th pSortableColumn="cliente_id">Cliente_id <p-sortIcon field="cliente_id"></p-sortIcon></th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-mascota let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ mascota.nombre }}</td>
          <td>{{ mascota.especie_nombre }}</td>
          <td>{{ mascota.raza_nombre }}</td>
          <td>{{ mascota.fecha_nacimiento | date: 'YYYY-MM-dd'  }}</td>
          <td>{{ mascota.peso }}</td>
          <td>{{ mascota.sexo_nombre }}</td>
          <td>{{ mascota.cliente_nombre }}</td>
          <td>
            <button pButton icon="pi pi-pencil" class="p-button-text p-button-sm p-button-warning" (click)="openModal('Editar', mascota)"></button>
            <button pButton icon="pi pi-trash" class="p-button-text p-button-sm p-button-danger" (click)="confirmarEliminacion(mascota)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </ng-template>-->
</p-card>
