<p-card>
  <!-- ROLS-->
  <div class="flex grid">
    <!--Sidebar - 20% en desktop, 100% en móvil-->
    <div class="col-12 md:col-12 lg:col-2 bg-gray-100">
      <div class="grid flex">
        <div class="col-12">
          <moduleBoxTitle [title]="'PAGINAS'"></moduleBoxTitle>
        </div>
        <div class="col-6 md:col-6 lg:col-12 align-items-center">
          <!-- <moduleBoxButton></moduleBoxButton>-->
          <svg width="140" height="140" viewBox="0 0 512 512" fill="currentColor">
            <path d="M226.5 92.9c14.3 42.9-.3 86.2-32.6 96.8s-70.1-15.6-84.4-58.5s.3-86.2 32.6-96.8s70.1 15.6 84.4 58.5zM100.4 198.6c18.9 32.4 14.3 70.1-10.2 84.1s-59.7-.9-78.5-33.3S-2.7 179.3 21.8 165.3s59.7 .9 78.5 33.3zM69.2 401.2C121.6 259.9 214.7 224 256 224s134.4 35.9 186.8 177.2c3.6 9.7 5.2 20.1 5.2 30.5l0 1.6c0 25.8-20.9 46.7-46.7 46.7c-11.5 0-22.9-1.4-34-4.2l-88-22c-15.3-3.8-31.3-3.8-46.6 0l-88 22c-11.1 2.8-22.5 4.2-34 4.2C84.9 480 64 459.1 64 433.3l0-1.6c0-10.4 1.6-20.8 5.2-30.5zM421.8 282.7c-24.5-14-29.1-51.7-10.2-84.1s54-47.3 78.5-33.3s29.1 51.7 10.2 84.1s-54 47.3-78.5 33.3zM310.1 189.7c-32.3-10.6-46.9-53.9-32.6-96.8s52.1-69.1 84.4-58.5s46.9 53.9 32.6 96.8s-52.1 69.1-84.4 58.5z"/>
          </svg>
        </div>
      </div>
    </div>
    <!-- Main - 80% en desktop "maria click nueva venta" (espacio restante), 100% en móvil -->
    <div class="col-12 md:col-12 lg:col-10 pt-0 pb-0" >
      <div class="w-full panel-menu  p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
        <menuTop></menuTop>
      </div>
      <form [formGroup]="rolForm">
        <div class="panel-filtro  p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-4">
              <button pButton icon="pi pi-user-plus" label="Nuevo Rol"
                      class="p-button-sm p-button-outlined" (click)="openModal('Nuevo')">
              </button>

            </div>
            <div class="col-12 md:col-6 lg:col-4">

            </div>
            <div class="col-6 md:col-6 lg:col-2">

            </div>
            <div class="col-6 md:col-6 lg:col-2" >

            </div>
          </div>
        </div>
      </form>


      <div class="w-full panel-data">
        <!--grid-->
        <div class="grid">
          <!-- ========================================== -->
          <!-- VERSIÓN DESKTOP - TABLA HORIZONTAL COMPLETA -->
          <!-- ========================================== -->
          <div class="col-12 lg:block">

            <div class="surface-card p-2 border-round-lg shadow-2">

              <p-table #table [value]="filteredRols" [paginator]="false" [rows]="10"
                       [rowsPerPageOptions]="[10, 20, 50, 100]"
                       [globalFilterFields]="['producto','descripcion','tamano','cantidad','cost','venta']"
                       [responsiveLayout]="'scroll'"

                       class="prime-table-responsive-grid table-ventas"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="cliente" class="col-cli">ID
                      <p-sortIcon field="cliente"></p-sortIcon>
                    </th>
                    <th pSortableColumn="producto" class="col-cli">ROL
                      <p-sortIcon field="producto"></p-sortIcon>
                    </th>
                    <th class="col-accio">
                      ACCIONES
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rol let-i="rowIndex">
                  <tr>
                    <td class="col-cli">{{i+1}}</td>
                    <td class="col-cli">{{rol.descripcion}}</td>
                    <td class="col-accio">
                      <button pButton icon="pi pi-pencil" class="p-button-text p-button-sm p-button-warning" (click)="openModal('Editar', rol)"></button>
                      <button pButton icon="pi pi-trash" class="p-button-text p-button-sm p-button-danger" (click)="confirmarEliminacion(rol)"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <!--grid-->
      </div>
    </div>
    <p-toast></p-toast>
    <!-- Confirmation -->
    <p-confirmDialog></p-confirmDialog>
    <!-- Confirmation -->
    <!-- Modal Dialog -->
    <p-dialog [(visible)]="modalVisible" [header]="modalTitle" [modal]="true" [closable]="true" [style]="{width: '500px'}">
      <form [formGroup]="rolForm" >
        <div class="p-fluid">
          <div class="p-field">
            <label for="descripcionInput">Descripcion</label>
            <input pInputText id="descripcionInput" formControlName="descripcion" />
          </div>
          <input pInputText id="_idInput" formControlName="_id" [hidden]="true"  />

        </div>
        <div class="p-dialog-footer">
          <button pButton type="button" label="Cancelar" class="p-button-text" (click)="modalVisible = false"></button>
          <button pButton type="button" label="Guardar" class="p-button-text" (click)="saveRegistro()"></button>
        </div>
      </form>
    </p-dialog>
  </div>
  <!-- ROLS-->
<!--  <div class="flex grid">

    &lt;!&ndash; Sidebar - 20% en desktop, 100% en móvil &ndash;&gt;
    <div class="col-12 md:col-12 lg:col-2 bg-gray-100" >
      <div class="grid flex">
        <div class="col-12">
          &lt;!&ndash; Titulo &ndash;&gt;
          <moduleBoxTitle [title]="'REPORTES'"></moduleBoxTitle>
        </div>
        <div class="col-12">
          &lt;!&ndash; Botones &ndash;&gt;
          <moduleBoxLinks [title]="'REPORTES'"></moduleBoxLinks>
        </div>
        <div class="col-12">
          <moduleBoxButton></moduleBoxButton>
        </div>
        <div class="col-12">
          &lt;!&ndash; Crear Nuevo &ndash;&gt;
          <div class="flex flex-column align-items-center" style="gap: 8px;">
            &lt;!&ndash; Botón circular grande con ícono "+" &ndash;&gt;
            <button
              pButton
              type="button"
              icon="pi pi-plus"
              class="p-button-rounded p-button-lg custom-circle-button"
            ></button>

            &lt;!&ndash; Label descriptivo &ndash;&gt;
            <span class="text-lg font-medium">Generar cliente</span>
          </div>
        </div>
      </div>
    </div>
    &lt;!&ndash; Main - 80% en desktop "maria click nueva venta" (espacio restante), 100% en móvil &ndash;&gt;
    <div class="col-12 md:col-12 lg:col-10 pt-0 pb-0" >
      <div class="w-full panel-menu  p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
        <menuTop></menuTop>
      </div>
      <div class="panel-filtro  p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
        <div class="grid">
          &lt;!&ndash; Primera fila: Dropdowns principales &ndash;&gt;
          <div class="col-12 md:col-6 lg:col-3">
            <p-dropdown
              id="categoria_id"
              formControlName="categoria_id"
              optionLabel="label"
              optionValue="value"
              placeholder="Categoría"
              [style]="{'width':'100%'}"
            >
            </p-dropdown>
          </div>
          <div class="col-12 md:col-6 lg:col-3">
            <p-dropdown
              id="mixto_id"
              formControlName="mixto_id"
              optionLabel="label"
              optionValue="value"
              placeholder="Ventas,Productos,Precios"
              [style]="{'width':'100%'}"
              >
            </p-dropdown>
          </div>
          <div class="col-12 md:col-12 lg:col-2">
            <span class="p-input-icon-left w-full">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                placeholder="Buscar"
                class="w-full"
                [(ngModel)]="globalFilter"
                (ngModelChange)="applyGlobalFilter()">
            </span>
          </div>

          <div class="col-6 md:col-6 lg:col-2">
            <p-calendar
              placeholder="Inicio"
              formControlName="fechaInicio"
              dateFormat="dd/mm/yy"
              [showIcon]="true"

              >
            </p-calendar>
          </div>

          <div class="col-6 md:col-6 lg:col-2">
            <p-calendar
              placeholder="Fin"
              formControlName="fechaFin"
              dateFormat="dd/mm/yy"
              [showIcon]="true"

              >
            </p-calendar>
          </div>

        </div>
      </div>



      <div class="w-full panel-data">
        &lt;!&ndash;grid&ndash;&gt;
        <div class="grid">
          &lt;!&ndash; ============================================= &ndash;&gt;
          &lt;!&ndash; VERSIÓN MOBILE (iPhone) - 1 COLUMNA VERTICAL &ndash;&gt;
          &lt;!&ndash; ============================================= &ndash;&gt;
          <div class="col-12 block md:hidden">
            &lt;!&ndash; Registro 1 &ndash;&gt;
            <div class="bg-gray-100 p-2 border-1 border-gray-200 border-round-md">
              <table class="w-full tabla-grid-ui">
                <thead>
                <tr class="border-bottom-1 surface-border">
                  <th class="text-left p-2 ">REGISTRO #1</th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>ID : </strong>101</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Nombre : </strong>Ana Pérez</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Edad : </strong>28</td>
                </tr>
                </tbody>
              </table>
            </div>
            &lt;!&ndash; Registro 1 &ndash;&gt;
            <div class="bg-gray-100 p-2 border-1 border-gray-200 border-round-md">
              <table class="w-full tabla-grid-ui">
                <thead>
                <tr class="border-bottom-1 surface-border">
                  <th class="text-left p-2">REGISTRO #1</th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>ID : </strong>101</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>ID : </strong>101</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>ID : </strong>101</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          &lt;!&ndash; ========================================== &ndash;&gt;
          &lt;!&ndash; VERSIÓN TABLET - 3 COLUMNAS EN HORIZONTAL &ndash;&gt;
          &lt;!&ndash; ========================================== &ndash;&gt;
          <div class="col-12 hidden md:block lg:hidden">
            <div class="grid">
              &lt;!&ndash; Fila de Registros &ndash;&gt;
              <div class="col-4">
                <div class="surface-card p-3 m-2 border-round-lg shadow-1">
                  <table class="w-full tabla-grid-ui">
                    <thead>
                    <tr class="border-bottom-1 surface-border">
                      <th class="text-left p-2 ">REGISTRO #1</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-bottom-1 surface-border">
                      <td class="p-2 pt-0 pb-0"><strong>ID : </strong>101</td>
                    </tr>
                    <tr class="border-bottom-1 surface-border">
                      <td class="p-2 pt-0 pb-0"><strong>Nombre : </strong>Ana Pérez</td>
                    </tr>
                    <tr class="border-bottom-1 surface-border">
                      <td class="p-2 pt-0 pb-0"><strong>Edad : </strong>28</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-4">
                <div class="surface-card p-3 m-2 border-round-lg shadow-1">
                  <table class="w-full tabla-grid-ui">
                    <thead>
                    <tr class="border-bottom-1 surface-border">
                      <th class="text-left p-2 ">REGISTRO #1</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-bottom-1 surface-border">
                      <td class="p-2 pt-0 pb-0"><strong>ID : </strong>101</td>
                    </tr>
                    <tr class="border-bottom-1 surface-border">
                      <td class="p-2 pt-0 pb-0"><strong>Nombre : </strong>Ana Pérez</td>
                    </tr>
                    <tr class="border-bottom-1 surface-border">
                      <td class="p-2 pt-0 pb-0"><strong>Edad : </strong>28</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-4">
                <div class="surface-card p-3 m-2 border-round-lg shadow-1">
                  <table class="w-full tabla-grid-ui">
                    <thead>
                    <tr class="border-bottom-1 surface-border">
                      <th class="text-left p-2 ">REGISTRO #1</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-bottom-1 surface-border">
                      <td class="p-2 pt-0 pb-0"><strong>ID : </strong>101</td>
                    </tr>
                    <tr class="border-bottom-1 surface-border">
                      <td class="p-2 pt-0 pb-0"><strong>Nombre : </strong>Ana Pérez</td>
                    </tr>
                    <tr class="border-bottom-1 surface-border">
                      <td class="p-2 pt-0 pb-0"><strong>Edad : </strong>28</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          &lt;!&ndash; ========================================== &ndash;&gt;
          &lt;!&ndash; VERSIÓN DESKTOP - TABLA HORIZONTAL COMPLETA &ndash;&gt;
          &lt;!&ndash; ========================================== &ndash;&gt;
          <div class="col-12 hidden lg:block">
            <div class="surface-card p-2 border-round-lg shadow-2">
              <table class="w-full tabla-grid-ui">
                <thead>
                <tr class="border-bottom-1 surface-border">
                  <th class="text-left p-2">ID</th>
                  <th class="text-left p-2">Nombre</th>
                  <th class="text-left p-2">Edad</th>
                  <th class="text-left p-2">Email</th>
                  <th class="text-left p-2">Teléfono</th>
                  <th class="text-left p-2">Ciudad</th>
                  <th class="text-left p-2">País</th>
                  <th class="text-left p-2">Estado</th>
                  <th class="text-left p-2">Fecha</th>
                  <th class="text-left p-2">Saldo</th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2">101</td>
                  <td class="p-2">Ana Pérez</td>
                  <td class="p-2">28</td>
                  <td class="p-2">ana@correo.com</td>
                  <td class="p-2">555-1001</td>
                  <td class="p-2">Lima</td>
                  <td class="p-2">Perú</td>
                  <td class="p-2 text-green-500">Activo</td>
                  <td class="p-2">2023-01-15</td>
                  <td class="p-2 text-primary font-bold">$1,200.00</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2">102</td>
                  <td class="p-2">Carlos López</td>
                  <td class="p-2">35</td>
                  <td class="p-2">carlos@correo.com</td>
                  <td class="p-2">555-1002</td>
                  <td class="p-2">Bogotá</td>
                  <td class="p-2">Colombia</td>
                  <td class="p-2 text-red-500">Inactivo</td>
                  <td class="p-2">2023-02-20</td>
                  <td class="p-2 text-primary font-bold">$2,500.00</td>
                </tr>
                <tr>
                  <td class="p-2">103</td>
                  <td class="p-2">Luisa Méndez</td>
                  <td class="p-2">31</td>
                  <td class="p-2">luisa@correo.com</td>
                  <td class="p-2">555-1003</td>
                  <td class="p-2">Santiago</td>
                  <td class="p-2">Chile</td>
                  <td class="p-2 text-green-500">Activo</td>
                  <td class="p-2">2023-03-10</td>
                  <td class="p-2 text-primary font-bold">$1,800.00</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        &lt;!&ndash;grid&ndash;&gt;
      </div>
    </div>
  </div>-->




































  <!--<ng-template pTemplate="title">Lista de Rol</ng-template>-->
 <!-- <ng-template pTemplate="content">
    <p-toast></p-toast>

    <div class="p-datatable-header">
      <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            placeholder="Búsqueda"
            class="p-inputtext p-component p-element w-full"
            [(ngModel)]="globalFilter"
            (ngModelChange)="applyGlobalFilter()">
        </span>

        <button pButton icon="pi pi-user-plus" label="Nuevo Rol"
                class="p-button-sm p-button-outlined" (click)="openModal('Nuevo')">
        </button>
      </div>
    </div>

    <p-table #table [value]="filteredRols" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50, 100]"
             [globalFilterFields]="['descripcion']" [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="descripcion">Descripcion <p-sortIcon field="descripcion"></p-sortIcon></th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rol let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ rol.descripcion }}</td>
          <td>
            <button pButton icon="pi pi-pencil" class="p-button-text p-button-sm p-button-warning" (click)="openModal('Editar', rol)"></button>
            <button pButton icon="pi pi-trash" class="p-button-text p-button-sm p-button-danger" (click)="confirmarEliminacion(rol)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    &lt;!&ndash; Confirmation &ndash;&gt;
    <p-confirmDialog></p-confirmDialog>
    &lt;!&ndash; Confirmation &ndash;&gt;
    &lt;!&ndash; Modal &ndash;&gt;

    &lt;!&ndash; Modal &ndash;&gt;
  </ng-template>-->
</p-card>
