<p-card>
 <!-- CLIENTE-->
  <div class="flex grid">

    <!-- Sidebar - 20% en desktop, 100% en móvil -->
    <div class="col-12 md:col-12 lg:col-2 bg-gray-100" >
      <div class="grid flex">
        <div class="col-12">
          <!-- Titulo -->
          <moduleBoxTitle [title]="'CLIENTES'"></moduleBoxTitle>
        </div>
        <div class="col-12">
          <!-- Botones -->
          <moduleBoxLinks [title]="'CLIENTES'"></moduleBoxLinks>
        </div>
        <div class="col-12">
          <!--<moduleBoxButton></moduleBoxButton>-->
        </div>
        <div class="col-12">
          <!-- Crear Nuevo -->
          <div class="flex flex-column align-items-center" style="gap: 8px;">
            <!-- Botón circular grande con ícono "+" -->
            <button
              pButton
              type="button"
              icon="pi pi-plus"
              class="p-button-rounded p-button-lg custom-circle-button"
              (click)="openModal('Nuevo')"
            ></button>
            <!-- Label descriptivo -->
            <div type="button" class="text-lg font-medium"
                 (click)="openModal('Nuevo')" style="cursor:pointer;">Generar cliente
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Main - 80% en desktop "maria click nueva venta" (espacio restante), 100% en móvil -->
    <div class="col-12 md:col-12 lg:col-10 pt-0 pb-0" >
      <div class="w-full panel-menu  p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
        <menuTop></menuTop>
      </div>

      <div class="panel-filtro  p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
        <div class="grid">
          <!-- Primera fila: Dropdowns principales -->
          <div class="col-12 md:col-6 lg:col-3 hidden ">

          </div>
          <div class="col-12 md:col-6 lg:col-3 hidden ">

          </div>
          <div class="col-12 md:col-12 lg:col-4">

            <span class="p-input-icon-left w-full">
              <i class="pi pi-search"></i>
              <p-dropdown
                id="busqueda_producto"
                [options]="selected_cliente"
                class="busqueda"
                formControlName="busqueda_cliente"
                optionLabel="label"
                placeholder="Buscar Cliente(Nombre Dueño)"
                [style]="{'width':'100%'}"
                [filter]="true"
                filterBy="label"
                [virtualScroll]="true"
                [virtualScrollItemSize]="34"
                [scrollHeight]="'300px'"
                [showClear]="true"
                (onChange)="onAddClienteTGrid($event)"
              >
              </p-dropdown>
            </span>

          </div>

          <div class="col-6 md:col-6 lg:col-2 hidden ">

          </div>

          <div class="col-6 md:col-6 lg:col-2 hidden ">

          </div>

        </div>
      </div>



      <div class="w-full panel-data">
        <!--grid-->
        <div class="grid">
          <!-- ============================================= -->
          <!-- VERSIÓN MOBILE (iPhone) - 1 COLUMNA VERTICAL -->
          <!-- ============================================= -->
          <div class="col-12 md:col-6 lg:col-6">
            <!-- Registro 1 -->
            <div class="bg-gray-100 p-2 border-1 border-gray-200 border-round-md">
              <table class="w-full tabla-grid-ui">
                <thead>
                <tr class="border-bottom-1 surface-border">
                  <th class="text-left p-2 ">DATOS PERSONALES</th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Nombres : </strong>{{ clienteGrid.nombres }}
                    <button pButton icon="pi pi-pencil" class="p-button-text p-button-sm p-button-warning btn-right" (click)="openModal('Editar', cliente)"></button>
                  </td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Apellidos: </strong>{{ clienteGrid.apellidos }}</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Dni : </strong>{{ clienteGrid.dni }}</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Teléfono : </strong>{{ clienteGrid.telefono }}</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Dirección : </strong>{{ clienteGrid.direccion }}</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Email : </strong>{{ clienteGrid.email }}</td>
                </tr>
                <tr class="border-bottom-1 surface-border">
                  <td class="p-2 pt-0 pb-0"><strong>Indicación General : </strong>{{ clienteGrid.indicacion_general }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- ========================================== -->
          <!-- VERSIÓN TABLET - 3 COLUMNAS EN HORIZONTAL -->
          <!-- ========================================== -->


          <!-- ========================================== -->
          <!-- VERSIÓN DESKTOP - TABLA HORIZONTAL COMPLETA -->
          <!-- ========================================== -->
        </div>
        <!--grid-->
      </div>
    </div>

  </div>
  <p-toast></p-toast>
  <!-- Confirmation -->
  <p-confirmDialog></p-confirmDialog>
  <!--  Confirmation  -->
  <!--  Modal  -->
  <p-dialog [(visible)]="modalVisible" [header]="modalTitle" [modal]="true" [closable]="true" [style]="{width: '500px'}">
    <form [formGroup]="clienteForm" >
      <div class="p-fluid grid">
        <div class="p-field col-12">
          <label for="nombresInput">Nombres</label>
          <input pInputText id="nombresInput" formControlName="nombres" />
        </div>
        <div class="p-field col-12">
          <label for="apellidosInput">Apellidos</label>
          <input pInputText id="apellidosInput" formControlName="apellidos" />
        </div>
        <div class="p-field col-6">
          <label for="dniInput">Dni</label>
          <input pInputText id="dniInput" formControlName="dni" />
        </div>
        <div class="p-field col-6">
          <label for="telefonoInput">Teléfono</label>
          <input pInputText id="telefonoInput" formControlName="telefono" />
        </div>
        <div class="p-field col-12">
          <label for="direccionInput">Dirección</label>
          <input pInputText id="direccionInput" formControlName="direccion" />
        </div>
        <div class="p-field col-12">
          <label for="emailInput">Email</label>
          <input pInputText id="emailInput" formControlName="email" />
        </div>
        <div class="p-field col-12">
          <label for="indicacion_generalInput">Indicacion_general</label>
          <input pInputText id="indicacion_generalInput" formControlName="indicacion_general" />
        </div>
        <input pInputText id="_idInput" formControlName="_id" [hidden]="true"  />

      </div>
      <div class="p-dialog-footer">
        <button pButton type="button" label="Cancelar" class="p-button-text" (click)="modalVisible = false"></button>
        <button pButton type="button" label="Guardar" class="p-button-text" (click)="saveRegistro()"></button>
      </div>
    </form>
  </p-dialog>
  <!--  Modal  -->
  <!--CLIENTE-->
<!--<ng-template pTemplate="title">Lista de Cliente</ng-template>
  <ng-template pTemplate="content">


    <div class="p-datatable-header">
      <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            placeholder="Búsqueda"
            class="p-inputtext p-component p-element w-full"
            [(ngModel)]="globalFilter"
            (ngModelChange)="applyGlobalFilter()">
        </span>

        <button pButton icon="pi pi-user-plus" label="Nuevo Cliente"
                class="p-button-sm p-button-outlined" (click)="openModal('Nuevo')">
        </button>
      </div>
    </div>

    <p-table #table [value]="filteredClientes" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50, 100]"
             [globalFilterFields]="['nombres','apellidos','dni','telefono','direccion','email','indicacion_general']" [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="nombres">Nombres <p-sortIcon field="nombres"></p-sortIcon></th>
          <th pSortableColumn="apellidos">Apellidos <p-sortIcon field="apellidos"></p-sortIcon></th>
          <th pSortableColumn="dni">Dni <p-sortIcon field="dni"></p-sortIcon></th>
          <th pSortableColumn="telefono">Telefono <p-sortIcon field="telefono"></p-sortIcon></th>
          <th pSortableColumn="direccion">Direccion <p-sortIcon field="direccion"></p-sortIcon></th>
          <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="indicacion_general">Indicacion_general <p-sortIcon field="indicacion_general"></p-sortIcon></th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-cliente let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ cliente.nombres }}</td>
          <td>{{ cliente.apellidos }}</td>
          <td>{{ cliente.dni }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.direccion }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.indicacion_general }}</td>
          <td>
            <button pButton icon="pi pi-pencil" class="p-button-text p-button-sm p-button-warning" (click)="openModal('Editar', cliente)"></button>
            <button pButton icon="pi pi-trash" class="p-button-text p-button-sm p-button-danger" (click)="confirmarEliminacion(cliente)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </ng-template>-->
</p-card>
