<p-card>
  <!-- PAGES-->
  <div class="flex grid">
    <!--Sidebar - 20% en desktop, 100% en móvil-->
    <div class="col-12 md:col-12 lg:col-2 bg-gray-100">
      <div class="grid flex">
        <div class="col-12">
          <moduleBoxTitle [title]="'PAGINAS'"></moduleBoxTitle>
        </div>
        <div class="col-6 md:col-6 lg:col-12 align-items-center">
          <!-- <moduleBoxButton></moduleBoxButton>-->
          <svg width="140" height="140" viewBox="0 0 512 512" fill="currentColor">
            <path d="M226.5 92.9c14.3 42.9-.3 86.2-32.6 96.8s-70.1-15.6-84.4-58.5s.3-86.2 32.6-96.8s70.1 15.6 84.4 58.5zM100.4 198.6c18.9 32.4 14.3 70.1-10.2 84.1s-59.7-.9-78.5-33.3S-2.7 179.3 21.8 165.3s59.7 .9 78.5 33.3zM69.2 401.2C121.6 259.9 214.7 224 256 224s134.4 35.9 186.8 177.2c3.6 9.7 5.2 20.1 5.2 30.5l0 1.6c0 25.8-20.9 46.7-46.7 46.7c-11.5 0-22.9-1.4-34-4.2l-88-22c-15.3-3.8-31.3-3.8-46.6 0l-88 22c-11.1 2.8-22.5 4.2-34 4.2C84.9 480 64 459.1 64 433.3l0-1.6c0-10.4 1.6-20.8 5.2-30.5zM421.8 282.7c-24.5-14-29.1-51.7-10.2-84.1s54-47.3 78.5-33.3s29.1 51.7 10.2 84.1s-54 47.3-78.5 33.3zM310.1 189.7c-32.3-10.6-46.9-53.9-32.6-96.8s52.1-69.1 84.4-58.5s46.9 53.9 32.6 96.8s-52.1 69.1-84.4 58.5z"/>
          </svg>
        </div>
      </div>
    </div>
    <!-- Main - 80% en desktop "maria click nueva venta" (espacio restante), 100% en móvil -->
    <div class="col-12 md:col-12 lg:col-10 pt-0 pb-0" >
      <div class="w-full panel-menu  p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
        <menuTop></menuTop>
      </div>
      <form [formGroup]="pageForm">
        <div class="panel-filtro  p-2 sm:p-3 md:p-4" style="box-sizing: border-box;">
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-4">
              <button pButton icon="pi pi-user-plus" label="Nuevo Page"
                      class="p-button-sm p-button-outlined" (click)="openModal('Nuevo')">
              </button>

            </div>
            <div class="col-12 md:col-6 lg:col-4">

            </div>
            <div class="col-6 md:col-6 lg:col-2">

            </div>
            <div class="col-6 md:col-6 lg:col-2" >

            </div>
          </div>
        </div>
      </form>


      <div class="w-full panel-data">
        <!--grid-->
        <div class="grid">
          <!-- ========================================== -->
          <!-- VERSIÓN DESKTOP - TABLA HORIZONTAL COMPLETA -->
          <!-- ========================================== -->
          <div class="col-12 lg:block">

            <div class="surface-card p-2 border-round-lg shadow-2">

              <p-table #table [value]="filteredPages" [paginator]="false" [rows]="10"
                       [rowsPerPageOptions]="[10, 20, 50, 100]"
                       [globalFilterFields]="['producto','descripcion','tamano','cantidad','cost','venta']"
                       [responsiveLayout]="'scroll'"

                       class="prime-table-responsive-grid table-ventas"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="cliente" class="col-cli">ID
                      <p-sortIcon field="cliente"></p-sortIcon>
                    </th>
                    <th pSortableColumn="producto" class="col-cli">ORDER
                      <p-sortIcon field="producto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="descripcion" class="col-cost">RUTA
                      <p-sortIcon field="descripcion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tamano" class="col-cost">NOMBRE
                      <p-sortIcon field="tamano"></p-sortIcon>
                    </th>
                    <th pSortableColumn="cantidad" class="col-cost">DESCRIPCION
                      <p-sortIcon field="cantidad"></p-sortIcon>
                    </th>
                    <th pSortableColumn="cost" class="col-cost">ICON
                      <p-sortIcon field="cost"></p-sortIcon>
                    </th>
                    <th class="col-accio">
                      ACCIONES
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-page let-i="rowIndex">
                  <tr>
                    <td class="col-cli">{{i+1}}</td>
                    <td class="col-cli">{{page.order}}</td>
                    <td class="col-desc">{{page.ruta}}</td>
                    <td class="col-tama">{{page.nombre}}</td>
                    <td class="col-cant">{{page.descripcion}}</td>
                    <td class="col-cant">{{page.icon}}</td>
                    <td class="col-accio">
                      <button pButton icon="pi pi-pencil" class="p-button-text p-button-sm p-button-warning" (click)="openModal('Editar', page)"></button>
                      <button pButton icon="pi pi-trash" class="p-button-text p-button-sm p-button-danger" (click)="confirmarEliminacion(page)"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <!--grid-->
      </div>
    </div>
    <p-toast></p-toast>
    <!-- Confirmation -->
    <p-confirmDialog></p-confirmDialog>
    <!-- Confirmation -->
    <!-- Modal Dialog -->
    <p-dialog [(visible)]="modalVisible" [header]="modalTitle" [modal]="true" [closable]="true" [style]="{width: '500px'}">
      <form [formGroup]="pageForm" >
        <div class="p-fluid">

          <div class="p-field">
            <label>Order</label>

            <input pInputText id="orderInput" formControlName="order" />

          </div>


          <div class="p-field">
            <label>Ruta</label>

            <input pInputText id="rutaInput" formControlName="ruta" />

          </div>


          <div class="p-field">
            <label>Nombre</label>

            <input pInputText id="nombreInput" formControlName="nombre" />

          </div>


          <div class="p-field">
            <label>Descripcion</label>

            <input pInputText id="descripcionInput" formControlName="descripcion" />

          </div>


          <div class="p-field">
            <label>Icon</label>

            <input pInputText id="iconInput" formControlName="icon" />

          </div>

          <input pInputText id="_idInput" formControlName="_id" [hidden]="true"  />

        </div>
        <div class="p-dialog-footer">
          <button pButton type="button" label="Cancelar" class="p-button-text" (click)="modalVisible = false"></button>
          <button pButton type="button" label="Guardar" class="p-button-text" (click)="saveRegistro()"></button>
        </div>
      </form>
    </p-dialog>
  </div>
  <!-- PAGES-->

<!--  <ng-template pTemplate="title">Lista de Page</ng-template>
  <ng-template pTemplate="content">
    <p-toast></p-toast>

    <div class="p-datatable-header">
      <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            placeholder="Búsqueda"
            class="p-inputtext p-component p-element w-full"
            [(ngModel)]="globalFilter"
            (ngModelChange)="applyGlobalFilter()">
        </span>

        <button pButton icon="pi pi-user-plus" label="Nuevo Page"
                class="p-button-sm p-button-outlined" (click)="openModal('Nuevo')">
        </button>
      </div>
    </div>

    <p-table #table [value]="filteredPages" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50, 100]"
             [globalFilterFields]="['order','ruta','nombre','descripcion','icon']" [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="order">Order <p-sortIcon field="order"></p-sortIcon></th>
          <th pSortableColumn="ruta">Ruta <p-sortIcon field="ruta"></p-sortIcon></th>
          <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
          <th pSortableColumn="descripcion">Descripcion <p-sortIcon field="descripcion"></p-sortIcon></th>
          <th pSortableColumn="icon">Icon <p-sortIcon field="icon"></p-sortIcon></th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-page let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ page.order

      }}</td>
          <td>{{ page.ruta

      }}</td>
          <td>{{ page.nombre

      }}</td>
          <td>{{ page.descripcion

      }}</td>
          <td>{{ page.icon

      }}</td>
          <td>
            <button pButton icon="pi pi-pencil" class="p-button-text p-button-sm p-button-warning" (click)="openModal('Editar', page)"></button>
            <button pButton icon="pi pi-trash" class="p-button-text p-button-sm p-button-danger" (click)="confirmarEliminacion(page)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    &lt;!&ndash; Confirmation &ndash;&gt;
    <p-confirmDialog></p-confirmDialog>
    &lt;!&ndash; Confirmation &ndash;&gt;
    &lt;!&ndash; Modal &ndash;&gt;
    <p-dialog [(visible)]="modalVisible" [header]="modalTitle" [modal]="true" [closable]="true" [style]="{width: '500px'}">
      <form [formGroup]="pageForm" >
        <div class="p-fluid">

    <div class="p-field">
      <label>Order</label>

        <input pInputText id="orderInput" formControlName="order" />

    </div>


    <div class="p-field">
      <label>Ruta</label>

        <input pInputText id="rutaInput" formControlName="ruta" />

    </div>


    <div class="p-field">
      <label>Nombre</label>

        <input pInputText id="nombreInput" formControlName="nombre" />

    </div>


    <div class="p-field">
      <label>Descripcion</label>

        <input pInputText id="descripcionInput" formControlName="descripcion" />

    </div>


    <div class="p-field">
      <label>Icon</label>

        <input pInputText id="iconInput" formControlName="icon" />

    </div>

          <input pInputText id="_idInput" formControlName="_id" [hidden]="true"  />

        </div>
        <div class="p-dialog-footer">
          <button pButton type="button" label="Cancelar" class="p-button-text" (click)="modalVisible = false"></button>
          <button pButton type="button" label="Guardar" class="p-button-text" (click)="saveRegistro()"></button>
        </div>
      </form>
    </p-dialog>
    &lt;!&ndash; Modal &ndash;&gt;
  </ng-template>-->
</p-card>
