<!-- Clientes -->
<button pButton type="button"
        class="p-button-outlined p-button-sm shadow-2 whitespace-nowrap button-black  bg-black"
        icon="pi pi-users"
        label="Clientes"
        (click)="redirectToMenu('/admin/clientes')"
></button>

<!-- Productos -->
<button pButton type="button"
        class="p-button-outlined p-button-sm shadow-2 whitespace-nowrap button-black   bg-black"
        icon="pi pi-box"
        label="Productos"
        (click)="redirectToMenu('/admin/productos')"
></button>

<!-- Ventas -->
<button pButton type="button"
        class="p-button-outlined p-button-sm shadow-2 whitespace-nowrap button-black   bg-black"
        icon="pi pi-money-bill"
        label="Ventas"
        (click)="redirectToMenu('/admin/ventas')"
></button>

<!-- Compras -->
<button pButton type="button"
        class="p-button-outlined p-button-sm shadow-2 whitespace-nowrap button-black bg-black"
        icon="pi pi-shopping-cart"
        label="Compras"
        (click)="redirectToMenu('/admin/compras')"
></button>

<!-- Proveedores -->
<button pButton type="button"
        class="p-button-outlined p-button-sm shadow-2 whitespace-nowrap button-black bg-black"
        icon="pi pi-truck"
        label="Proveedores"
        (click)="redirectToMenu('/admin/proveedors')"
></button>

<!-- Reportes -->
<button pButton type="button"
        class="p-button-outlined p-button-sm shadow-2 whitespace-nowrap button-black bg-black"
        icon="pi pi-chart-bar"
        label="Reportes"
        (click)="redirectToMenu('/admin/reportes')"
></button>

<!-- Tienda -->
<button pButton type="button"
        class="p-button-outlined p-button-sm shadow-2 whitespace-nowrap button-black bg-black"
        icon="pi pi-shopping-bag"
        label="TIENDA"
        (click)="redirectToMenu('/admin/inventarios')"
></button>
